* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: PingFangSC-Medium, PingFang SC;
    margin: 0 auto;
}

.labelAdd {
    border: 1px solid #ff5400;
    color: #ff5400;
    line-height: 28px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
}


/* 遮盖层 */

.box-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}


/* 模态框 */

.box-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -250px;
    width: 900px;
    height: 500px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
}

.modal-header {
    height: 44px;
    background-color: #f0edf1;
}

.line2 {
    display: block;
    float: left;
    margin: 13px 8px 0 13px;
    width: 3px;
    height: 16px;
    background: linear-gradient(180deg, rgba(95, 197, 200, 1) 0%, rgba(66, 133, 222, 1) 100%);
}

.modal-title {
    float: left;
    width: 82px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(50, 50, 50, 1);
    line-height: 44px;
}

.modal-header .close {
    display: block;
    float: right;
    margin-top: 8.5px;
    margin-right: 17px;
    width: 23px;
    height: 23px;
    border: 0;
    font-size: 21px;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}

.theme {
    width: 176px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500;
}

.theme a {
    display: block;
    width: 56px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.theme a:hover {
    color: #4284E0;
    border-bottom: 2px solid #4284E0;
}

.theme .first_theme {
    float: left;
}

.theme .second_theme {
    float: right;
}

.modal-body {
    margin: 0 auto;
    width: 852px;
    height: 301px;
    padding-top: 22px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.form {
    float: left;
    width: 296px;
    height: 301px;
    margin-left: 76px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(50, 50, 50, 1);
}

.form-group {
    /* display: flex; */
    height: 32px;
    width: 296px;
    margin-bottom: 17px;
}

.form-group label {
    width: 56px;
    line-height: 32px;
    text-align: right;
    font-weight: 500;
}

.form-control,
.form-select {
    display: block;
    float: right;
    padding-left: 6px;
    width: 224px;
    height: 32px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form-control {
    height: 30px;
    width: 216px;
    outline: none;
}

.form-property2 {
    height: 22px;
    width: 296px;
    margin-bottom: 14px;
}

.form-radios {
    float: right;
    margin-left: 6px;
    padding-right: 10px;
    width: 210px;
    height: 22px;
    text-align: left;
}

.form-radios label {
    margin-right: 38px;
    margin-left: 4px;
}

.form-property {
    width: 296px;
    height: 120px;
}

.form-property label {
    display: inline-block;
    width: 56px;
    text-align: right;
    line-height: 32px;
}

.form-property textarea {
    display: block;
    float: right;
    width: 216px;
    height: 112px;
    margin-left: 6px;
    padding-top: 5px;
    padding-left: 6px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    resize: none;
}

.property {
    float: right;
    width: 404px;
    height: 303px;
    margin-right: 44px;
    background: rgba(245, 249, 253, 1);
    border-radius: 2px;
}

.property ul {
    margin-top: 24px;
    margin-left: 24px;
    text-align: left;
    height: 250px;
    /* 滚动 */
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    /* overflow-y: hidden; */
    overflow: -moz-scrollbars-none;
    overflow: -moz-scrollbars-none;
}

.property ul::-webkit-scrollbar {
    display: none;
}

.property ul li {
    height: 22px;
    line-height: 22px;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
}

.property ul li label {
    display: inline-block;
    width: 102px;
    margin-left: 9px;
}

.modal-footer {
    height: 89px;
    width: 852px;
    margin: 0 auto;
}

.save {
    position: fixed;
    width: 100px;
    height: 32px;
    display: inline-block;
    margin-top: 33px;
    left: 50%;
    margin-left: -50px;
    background: rgba(66, 132, 224, 1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    border-radius: 4px;
}