* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: PingFangSC-Medium, PingFang SC;
    margin: 0 auto;
}

.labelAdd {
    border: 1px solid #ff5400;
    color: #ff5400;
    line-height: 28px;
    border-radius: 4px;
    width: 60px;
    text-align: center;
}


/* 遮盖层 */

.box-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
}


/* 模态框 */

.box-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -450px;
    margin-top: -220px;
    width: 900px;
    height: 440px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
}

.modal-header {
    height: 44px;
    background-color: #f0edf1;
}

.line2 {
    display: block;
    float: left;
    margin: 13px 8px 0 13px;
    width: 3px;
    height: 16px;
    background: linear-gradient(180deg, rgba(95, 197, 200, 1) 0%, rgba(66, 133, 222, 1) 100%);
}

.modal-title {
    float: left;
    width: 82px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(50, 50, 50, 1);
    line-height: 44px;
}

.modal-header .close {
    display: block;
    float: right;
    margin-top: 8.5px;
    margin-right: 17px;
    width: 23px;
    height: 23px;
    border: 0;
    font-size: 21px;
    background: transparent;
    -webkit-appearance: none;
    cursor: pointer;
}

.theme {
    width: 176px;
    height: 40px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 22px;
}

.theme a {
    display: block;
    width: 56px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.theme a:hover {
    font-weight: 500;
    color: #4284E0;
    border-bottom: 2px solid #4284E0;
}

.theme .first_theme {
    float: left;
}

.theme .second_theme {
    float: right;
}

.modal-body {
    margin: 0 auto;
    width: 852px;
    height: 280px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.form {
    width: 348px;
    height: 290px;
    margin: 0 auto;
    padding-right: 52px;
}

.form>div>label {
    display: block;
    float: left;
    text-align: right;
    width: 108px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(50, 50, 50, 1);
}

.form .form-singular {
    height: 22px;
    width: 348px;
    padding-top: 10px;
    margin-bottom: 16px;
}

.form .form-singular .form-radios {
    text-align: left;
}

.form .form-singular .form-radios label {
    margin-left: 3px;
    margin-right: 38px;
    color: rgba(0, 0, 0, 0.65);
}

.form .form-group {
    height: 32px;
    width: 348px;
    margin-bottom: 16px;
}

.form .form-group label {
    line-height: 30px;
}

.form-control {
    display: block;
    float: right;
    width: 216px;
    height: 30px;
    padding-left: 6px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.modal-footer {
    height: 56px;
    width: 852px;
    margin: 0 auto;
}

.save {
    position: fixed;
    width: 100px;
    height: 32px;
    display: inline-block;
    left: 50%;
    margin-left: -50px;
    background: rgba(66, 132, 224, 1);
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border: 1px solid transparent;
    border-radius: 4px;
}
